$primary: #234075;
$secondary: #f5f7fa;
$accent-colour-1: #2a7ae2;
$accent-colour-2: #f7b32b;
$accent-colour-3: #e94f37;
$background-colour: #FFFFFF;

$background-colour-highlight: #e9eef6;
$text-colour: #222b38;

// Dynamic (CSS) variables used at run-time, interpolated from SCSS
:root {
	--primary: #{ $primary };
	--secondary: #{ $secondary };
	--accent-colour-1: #{ $accent-colour-1 };
	--accent-colour-2: #{ $accent-colour-2 };
	--accent-colour-3: #{ $accent-colour-3 };
	--background-colour: #{ $background-colour };

	--background-colour-highlight: #{ $background-colour-highlight };
	--text-colour: #{ $text-colour };
}


html, body {
	height: 100%;
	color: var(--text-colour);
	background-color: var(--background-colour);
}

a {
	color: var(--accent-colour-1);
	text-decoration: none;
	&:hover {
		color: var(--accent-colour-3);
	}
}

code {
	background-color: var(--background-colour-highlight);
	color: var(--text-colour);
	padding: 0.25rem;
	border-radius: 0.25rem;
}

@import "navbar";
@import "search";
@import "footer";


#data iframe {
	margin: 1rem;
	background-color: gray;
}

.body-inner {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

.content {
	padding: 1rem 0;
}

.post-card {
	height: 28rem;
	display: flex;
	flex-direction: column;


	.card-header {
		background-color: var(--accent-colour-1);
		flex-shrink: 0;
	}

	.card-footer {
		background-color: var(--accent-colour-1);
		flex-shrink: 0;
	}

	.card-body {
		color: $text-colour;
		background-color: var(--secondary);
		flex: 1 1 auto;
        overflow: hidden;
	}

	img {
		height: 10rem;
		width: auto;
		object-fit: contain;
		background-color: var(--secondary);
		padding-top: 5px;
		border-radius: 0;
		max-width: 100%;
	}

	.btn-outline-primary {
		color: var(--text-colour);
		border-color: var(--accent-colour-1);
		background-color: var(--background-colour);

		&:hover {
			color: var(--secondary);
			border-color: var(--secondary);
			background-color: var(--accent-colour-3);
		}
	}

	.badge {
		font-size: 0.75em;
	}
}

.badge {
	font-size: 0.5em;

	&.ongoing {
		background-color: var(--accent-colour-1);
	}

	&.completed {
		background-color: var(--primary);
	}
}

.authors {
	.tooltiptext {
		visibility: hidden;
		width: 300px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;

		/* Position the tooltip text */
		position: absolute;
		z-index: 1;
		top: 35px;
		left: 70px;
		margin-left: -60px;

		/* Fade in tooltip */
		opacity: 0;
		transition: opacity 0.3s;
	}

  	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}
